<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connor Finnerty | Environmental</title>
  </head>
  <body>

<!-- First Band (Image) -->
       
          <div>
              <%= link_to image_tag("http://placehold.it/1280x500/EE964D/fff", alt: "Banner" %>
            
            <hr>
          </div>

<!-- Services Description -->
        
          <div class="row">
            <div class="large-12 columns">
            <h2>Services:</h2>
            <h4>
            - After Effects and stop motion animation
            </br>
            - Hand drawn and digital illustrations
            </br>
            - Real time data visualizations
            </br>
            - Web animation (SVG / CSS)
            <h4>
            </div>            
                
            <hr>
          </div>

<!-- Example Work -->
        
          <div class="row"><h2>Example Work:</h2></div>
          <div class="ex1">
            <div class="row">
              <div class="large-4 columns">
                <h3>Tout Tourne (Swinging Electrons Remix)</h3>
                <h5>Intended Immigration</h5>
                <p>“Fantastic job. Freelancer was super professional, responsive and creative. Great experience!”</p>
              </div>
              <div class="large-8 columns">
            <%= link_to image_tag("http://placehold.it/1280x400/EE564D/fff", alt: "Banner" %>
              </div>
            </div>
          </div>

          <div class="ex2">
            <div class="row">
              <div class="large-8 columns">
            <%= link_to image_tag("http://placehold.it/1280x400/EE564D/fff", alt: "Banner" %>
              </div>
              <div class="large-4 columns">
                <h3>Hand Drawn Illustration</h3>
                <h5></h5>
                <p></p>
              </div>

            </div>
          </div>

          <div class="ex3">
            <div class="row">
              <div class="large-4 columns">
                <h3>Digital Illustration</h3>
                <h5></h5>
                <p></p>
              </div>
              <div class="large-8 columns">
            <%= link_to image_tag("http://placehold.it/1280x400/EE564D/fff", alt: "Banner" %>
            </div>
          </div>

          <div class="ex4">
            <div class="row">
              <div class="large-8 columns">
            <%= link_to image_tag("http://placehold.it/1280x400/EE564D/fff", alt: "Banner" %>
              </div>
              <div class="large-4 columns">
                <h3></h3>
                <h5></h5>
                <p></p>
            </div>
          </div>

    <script src="./js/jquery.js"></script>
    <script src="./js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    <%= javascript_include_tag "application" %>
  </body>
</html>