<!DOCTYPE html>
<html>
  <body>

  
      

 <!-- Services -->
      <div class="row categories top-div" id="categories">
      <div class="large-12 columns">
        <div class="large-4 columns">
        <div class="service-title">
        <h2>Web Development</h2>
        </div>
        <%= link_to(image_tag("icon_1.png", :alt=>"Web Development", :title=>"Web Development"), "/webdev") %>
        </div>
        <div class="large-4 columns">
        <div class="service-title">
        <h2>Graphic Design</h2>
        </div>
        <%= link_to(image_tag("icon_2.png", :alt=>"Graphic Design", :title=>"Graphic Design"), "/graphicdesign") %>
        </div>
        <div class="large-4 columns">
        <div class="service-title">
        <h2>Illustration & Animation</h2>
        </div>
        <%= link_to(image_tag("icon_3.png", :alt=>"Illustration & Animation", :title=>"Illustration & Animation"), "/motion") %>
        </div>
        </div>
        <!--<div class="large-3 columns">
        <%= link_to image_tag("http://placehold.it/150x150/EE964D/fff", alt: "Banner") %>
        <h4> Environmental </h4>
        -->
        </div>

<!--
      <div id="gallery-grid" class="row">
        <ul class="small-block-grid-4">
        <li><a href="#"><img src="http://placehold.it/200x300" /></a></li>
        <li><a href="#"><img src="http://placehold.it/200x300" /></a></li>
        <li><a href="#"><img src="http://placehold.it/200x300" /></a></li>
        <li><a href="#"><img src="http://placehold.it/200x300" /></a></li>
        <li><a href="#"><img src="http://placehold.it/200x300" /></a></li>
        <li><a href="#"><img src="http://placehold.it/200x300" /></a></li>
        <li><a href="#"><img src="http://placehold.it/200x300" /></a></li>
        <li><a href="#"><img src="http://placehold.it/200x300" /></a></li>
        <li><a href="#"><img src="http://placehold.it/200x300" /></a></li>
        <li><a href="#"><img src="http://placehold.it/200x300" /></a></li>
        <li><a href="#"><img src="http://placehold.it/200x300" /></a></li>
        <li><a href="#"><img src="http://placehold.it/200x300" /></a></li>
      </div>
-->
          <%= javascript_include_tag "application" %>
      </div>
  </body>
</html>